[submodule "lib/cul"]
        path = lib/cul
        url = git://github.com/okard/cul.git
[submodule "lib/glul"]
        path = lib/glul
        url = git://github.com/okard/glul.git
[submodule "lib/aul"]
	path = lib/aul
	url = git://github.com/okard/aul.git
